/* config/_vars (does not output css) */
$firstBreakpoint: 43.75em;
$firstExpandpoint: 79.5em;

//greyscale
$white: #fff;
$offwhite: #f9f9f9;
$black: #000;

//gen
$brand: #39ccd3;
$brand_alt: darken($brand, 10);
$body_bg: $white;

//links
$link_colour: #428bca;
$link_hover_colour: darken($link_colour, 20);
$info_links_colour: #2cbfc6;

//border
$global_border: #d9d9d9;

//focus
$focus_border: rgba(82, 168, 236, 0.8);


//factory
@function ColourConstructor ($perc, $colour) {
  @if $perc > 0 {
    @return darken($colour, $perc);
  }
  @if $perc < 0 {
    @return lighten($colour, $perc * -1);
  }
  @if $perc == 0 {
    @return $colour;
  }
}


//functions
@function Greyscale ($perc: 50) {
  @return darken(#fff, $perc);
}


//boxes and text
$text_colour: #1b2633;
$litetext_colour: lighten($text_colour, 50);

//alerts
$default: Greyscale(25);
$info: $link_colour;
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;
$loadbar: #1b2633;

// fonts
$base_size: 62.5%;//63.7%;
@include font-face('Canaro', '../fonts/canaro-book-webfont');
@include font-face('Canaro', '../fonts/canaro-semibold-webfont', 600, normal);
@include font-face('Canaro', '../fonts/canaro-light-webfont', 300, normal);

$display: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans_serif: "Canaro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "Georgia", "Times New Roman", Times, serif;
$code: Menlo,Monaco,Consolas,"Courier New",monospace;
//$serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$global_family: $sans_serif; //not everything inherits from the body...so we have $global_family

$text_size: 1.6em;
$text_line_height: 1.6em;

$h1: 3em;
$h2: 3.6em;
$h3: 2.8em;
$h4: 1.4em;
$h5: 1.2em;
$h6: 1.1em;

$lists_font_size: $text_size;
$lists_line_height: $text_line_height;

/* end */