/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$dribbble-offset-x: -5px;
$dribbble-offset-y: -5px;
$dribbble-width: 20px;
$dribbble-height: 20px;
$dribbble-total-width: 120px;
$dribbble-total-height: 90px;
$dribbble-image: '../img/sprite.svg';
$dribbble-png-image: '../img/';
$dribbble: 0px 0px -5px -5px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$dribbble_hover-offset-x: -35px;
$dribbble_hover-offset-y: -5px;
$dribbble_hover-width: 20px;
$dribbble_hover-height: 20px;
$dribbble_hover-total-width: 120px;
$dribbble_hover-total-height: 90px;
$dribbble_hover-image: '../img/sprite.svg';
$dribbble_hover-png-image: '../img/';
$dribbble_hover: 0px 0px -35px -5px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$dribbble_mod-offset-x: -5px;
$dribbble_mod-offset-y: -35px;
$dribbble_mod-width: 20px;
$dribbble_mod-height: 20px;
$dribbble_mod-total-width: 120px;
$dribbble_mod-total-height: 90px;
$dribbble_mod-image: '../img/sprite.svg';
$dribbble_mod-png-image: '../img/';
$dribbble_mod: 0px 0px -5px -35px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$instagram-offset-x: -35px;
$instagram-offset-y: -35px;
$instagram-width: 20px;
$instagram-height: 20px;
$instagram-total-width: 120px;
$instagram-total-height: 90px;
$instagram-image: '../img/sprite.svg';
$instagram-png-image: '../img/';
$instagram: 0px 0px -35px -35px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$instagram_hover-offset-x: -65px;
$instagram_hover-offset-y: -5px;
$instagram_hover-width: 20px;
$instagram_hover-height: 20px;
$instagram_hover-total-width: 120px;
$instagram_hover-total-height: 90px;
$instagram_hover-image: '../img/sprite.svg';
$instagram_hover-png-image: '../img/';
$instagram_hover: 0px 0px -65px -5px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$instagram_mod-offset-x: -65px;
$instagram_mod-offset-y: -35px;
$instagram_mod-width: 20px;
$instagram_mod-height: 20px;
$instagram_mod-total-width: 120px;
$instagram_mod-total-height: 90px;
$instagram_mod-image: '../img/sprite.svg';
$instagram_mod-png-image: '../img/';
$instagram_mod: 0px 0px -65px -35px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$linkedin_mod-offset-x: -5px;
$linkedin_mod-offset-y: -65px;
$linkedin_mod-width: 20px;
$linkedin_mod-height: 20px;
$linkedin_mod-total-width: 120px;
$linkedin_mod-total-height: 90px;
$linkedin_mod-image: '../img/sprite.svg';
$linkedin_mod-png-image: '../img/';
$linkedin_mod: 0px 0px -5px -65px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$twitter-offset-x: -35px;
$twitter-offset-y: -65px;
$twitter-width: 20px;
$twitter-height: 20px;
$twitter-total-width: 120px;
$twitter-total-height: 90px;
$twitter-image: '../img/sprite.svg';
$twitter-png-image: '../img/';
$twitter: 0px 0px -35px -65px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$twitter_hover-offset-x: -65px;
$twitter_hover-offset-y: -65px;
$twitter_hover-width: 20px;
$twitter_hover-height: 20px;
$twitter_hover-total-width: 120px;
$twitter_hover-total-height: 90px;
$twitter_hover-image: '../img/sprite.svg';
$twitter_hover-png-image: '../img/';
$twitter_hover: 0px 0px -65px -65px 20px 20px 120px 90px '../img/sprite.svg' '../img/';
$twitter_mod-offset-x: -95px;
$twitter_mod-offset-y: -5px;
$twitter_mod-width: 20px;
$twitter_mod-height: 20px;
$twitter_mod-total-width: 120px;
$twitter_mod-total-height: 90px;
$twitter_mod-image: '../img/sprite.svg';
$twitter_mod-png-image: '../img/';
$twitter_mod: 0px 0px -95px -5px 20px 20px 120px 90px '../img/sprite.svg' '../img/';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-png-image($sprite) {
  $sprite-png-image: nth($sprite, 10);
  background-image: url(#{$sprite-png-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  .lt-ie9 & {
    @include sprite-png-image($sprite);
  }
}