/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$icon_dribbble_footer-x: 0px;
$icon_dribbble_footer-y: 58px;
$icon_dribbble_footer-offset-x: 0px;
$icon_dribbble_footer-offset-y: -58px;
$icon_dribbble_footer-width: 19px;
$icon_dribbble_footer-height: 18px;
$icon_dribbble_footer-total-width: 84px;
$icon_dribbble_footer-total-height: 76px;
$icon_dribbble_footer-image: '../img/sprite.png?v=1';
$icon_dribbble_footer: 0px 58px 0px -58px 19px 18px 84px 76px '../img/sprite.png?v=1';
$icon_dribbble_info-x: 31px;
$icon_dribbble_info-y: 0px;
$icon_dribbble_info-offset-x: -31px;
$icon_dribbble_info-offset-y: 0px;
$icon_dribbble_info-width: 24px;
$icon_dribbble_info-height: 22px;
$icon_dribbble_info-total-width: 84px;
$icon_dribbble_info-total-height: 76px;
$icon_dribbble_info-image: '../img/sprite.png?v=1';
$icon_dribbble_info: 31px 0px -31px 0px 24px 22px 84px 76px '../img/sprite.png?v=1';
$icon_grid-x: 0px;
$icon_grid-y: 0px;
$icon_grid-offset-x: 0px;
$icon_grid-offset-y: 0px;
$icon_grid-width: 26px;
$icon_grid-height: 26px;
$icon_grid-total-width: 84px;
$icon_grid-total-height: 76px;
$icon_grid-image: '../img/sprite.png?v=1';
$icon_grid: 0px 0px 0px 0px 26px 26px 84px 76px '../img/sprite.png?v=1';
$icon_instagram_footer-x: 60px;
$icon_instagram_footer-y: 27px;
$icon_instagram_footer-offset-x: -60px;
$icon_instagram_footer-offset-y: -27px;
$icon_instagram_footer-width: 19px;
$icon_instagram_footer-height: 19px;
$icon_instagram_footer-total-width: 84px;
$icon_instagram_footer-total-height: 76px;
$icon_instagram_footer-image: '../img/sprite.png?v=1';
$icon_instagram_footer: 60px 27px -60px -27px 19px 19px 84px 76px '../img/sprite.png?v=1';
$icon_instagram_info-x: 0px;
$icon_instagram_info-y: 31px;
$icon_instagram_info-offset-x: 0px;
$icon_instagram_info-offset-y: -31px;
$icon_instagram_info-width: 24px;
$icon_instagram_info-height: 22px;
$icon_instagram_info-total-width: 84px;
$icon_instagram_info-total-height: 76px;
$icon_instagram_info-image: '../img/sprite.png?v=1';
$icon_instagram_info: 0px 31px 0px -31px 24px 22px 84px 76px '../img/sprite.png?v=1';
$icon_linkedin_info-x: 29px;
$icon_linkedin_info-y: 31px;
$icon_linkedin_info-offset-x: -29px;
$icon_linkedin_info-offset-y: -31px;
$icon_linkedin_info-width: 24px;
$icon_linkedin_info-height: 22px;
$icon_linkedin_info-total-width: 84px;
$icon_linkedin_info-total-height: 76px;
$icon_linkedin_info-image: '../img/sprite.png?v=1';
$icon_linkedin_info: 29px 31px -29px -31px 24px 22px 84px 76px '../img/sprite.png?v=1';
$icon_twitter_footer-x: 24px;
$icon_twitter_footer-y: 58px;
$icon_twitter_footer-offset-x: -24px;
$icon_twitter_footer-offset-y: -58px;
$icon_twitter_footer-width: 21px;
$icon_twitter_footer-height: 17px;
$icon_twitter_footer-total-width: 84px;
$icon_twitter_footer-total-height: 76px;
$icon_twitter_footer-image: '../img/sprite.png?v=1';
$icon_twitter_footer: 24px 58px -24px -58px 21px 17px 84px 76px '../img/sprite.png?v=1';
$icon_twitter_info-x: 60px;
$icon_twitter_info-y: 0px;
$icon_twitter_info-offset-x: -60px;
$icon_twitter_info-offset-y: 0px;
$icon_twitter_info-width: 24px;
$icon_twitter_info-height: 22px;
$icon_twitter_info-total-width: 84px;
$icon_twitter_info-total-height: 76px;
$icon_twitter_info-image: '../img/sprite.png?v=1';
$icon_twitter_info: 60px 0px -60px 0px 24px 22px 84px 76px '../img/sprite.png?v=1';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
