/* app/modules/nav */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.overlay__item {
  @include transition(all .2s);
  display: block;
  width: 33.3333%;
  position: absolute;
  left: 100%;
  top: 100%;
  img {
    display: block;
  }
}
