/* app/globals/header */
.site__header {
  position: relative;
  padding: 38px 0px;
}

#brand {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  a {
    display: block;
    color: $white;
  }
}

.nav__toggle {
  position: fixed;
  left: 100px;
  top: 41px;
  display: block;
  @include sprite($icon_grid);
  text-indent: -9999px;
  .admin-menu & {
    top: (41 + 29) + px;
  }
}

.info__toggle {
  position: absolute;
  right: 100px;
  top: 50px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 2px;
  padding: 0 0 4px;
  &:hover, &.active {
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $white;
  }
}