/* app/globals/header */
.site__header {
  position: absolute;
  padding: 38px 0px 33px 0px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  .admin-menu & {
    top: 20px;// 29px;
  }
  .node-type-project.admin-menu &, .page-user.admin-menu & {
    // top: 0px;
  }
  .node-type-project &, .page-user & {
    // position: relative;
    background: $white url(../img/bg/bg_header_case_study.png) 0 100% repeat-x;
    // @include boxShadow (inset 0 -10px 100px rgba(0,0,0,0.075));
    #brand {
      a {
        color: $text_colour;
      }
    }
    .info__toggle {
      color: $text_colour;
      &:hover {
        border-bottom: 2px solid $text_colour;
      }
    }
    .icon--grid .square {
      background: $text_colour;
    }
  }
}

#brand {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  width: 50%;
  margin: 0 auto;
  a {
    display: block;
    color: $white;
  }
}

.nav__toggle {
  position: fixed;
  left: 100px;
  top: 41px;
  z-index: 500;
  // @include sprite($icon_grid);
  // text-indent: -9999px;
  .admin-menu & {
    top: (41 + 20) + px;//(41 + 29) + px;
  }
}

.info__toggle {
  position: absolute;
  right: 100px;
  top: 48px;
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 2px;
  padding: 0 0 4px;
  &:hover, &.active {
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $white;
  }
}
.mobile {
  display: none;
}
// Portrait
@media (max-width: 59.9375em) { // 959px (div by 16)

  .info__toggle {
    right: 50px;
  }
  .nav__toggle {
    left: 50px;
  }

}

@media (max-width: 43.75em) { // 700px (div by 16)

  .site__header {
    padding: 20px 0px 15px;
  }
  #brand {
    width: 65%;
    font-size: 2em;
    padding: 2px 0px;
  }
  .info__toggle {
    right: 20px;
    top: 25px;
    span {
      display: none;
    }
    i {
      font-style: normal;
      display: block;
      text-transform: none;
    }
    &:hover {
      border:none;
    }
  }
  .nav__toggle {
    left: 20px;
    top: 21px;
  }

}