/* app/globals/site */

body.loading {
  background: $offwhite;
  overflow: hidden;
  .site__header {
    // opacity: 0;
  }
  .main-content {
    //visibility: hidden;
  }
  .site__footer {
    display: none;
  }
}

/**
 * Homepage
 */

// flex grid
.grid {
  @include flexbox();
  flex-wrap: wrap;
  background: $offwhite;
  // justify-content: center;
}
.grid__item {
  @include flex(1 0 33.3333333%);
  max-width: 33.333333%;
  img {
    display: block;
    width: 100%;
  }
}

// hero
.site__hero {
  position: relative;
  z-index: 0;
  background: $black;
  a {
    display: block;
  }
  img {
    @include transition(opacity 1s);
    opacity: .25;
    display: block;
    width: 100%;
    z-index: 50;
    &.cancel {
      @include transition(none);
      opacity: 1;
    }
  }
  .nav-tabs {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
  }
  svg {
    @include transition(opacity 2s);
    opacity: 1;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 75;
  }
  path {
    fill: none;
    stroke: $white;
    stroke-width: 1;
    stroke-miterlimit: 10;
  }
  &.animate {
    svg {
      visibility: visible;
    }
  }

  &.finished {
    img {
      opacity: 1;
    }
    svg {
      opacity: 0;
    }
  }

}

/**
 * General
 */
$T: .5s;
.main-content {
  @include square(100%, 100%);
  &.-internal {
    padding-top: 107px;
    background: $white;
  }
  &.next, &.slide-in, &.prepare, &.slide-out {
    position: absolute;
    top: 0%;
  }
  &.next {
    @include transition(all $T ease-in-out);
    @include translate(100%, 0%);
    z-index: 100;
  }
  &.inverse-next {
    @include transition(all $T ease-in-out);
    @include translate(-100%, 0%);
    z-index: 100;
  }
  &.slide-in {
    @include translate(0%, 0%);
  }
  &.prepare {
    @include transition(all ($T) ease-in-out);
    @include translate(0%, 0%);
    opacity: 1;
    z-index: 0;
  }
  &.slide-out {
    @include translate(-100%, 0%);
    opacity: 0;
  }
  &.inverse-slide-out {
    @include translate(100%, 0%);
    opacity: 0;
  }
}

.admin-menu .main-content {
  &.next, &.slide-in, &.slide-out, &.prepare {
    top: 20px;
  }
}

/**
 * Case Study Shared
 */
.content__header {
  h2 {
    padding: 58px 10px 58px;
    margin: 0px;
    background: $white;
    text-align: center;
    .subtitle {
      display: block;
      text-transform: uppercase;
      font-size: .39em;
      line-height: 2.1em;
      font-weight: 600;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

.intro__body {
  padding-top: 55px;
  padding-bottom: 22px;
}

.content__rows {
  img {
    display: block;
    width: 100%;
  }
}

/**
 * Case Study Complex
 */
.content__header.-full {
  img {
    width: 100%;
  }
}

.content__rows.-full {

}

/**
 * Case Study Basic
 */
.content__header.-basic {
  .intro__image {
    padding: 110px 0px;
  }
  img {
    margin: 0px;
    @include boxShadow(0px 0px 40px 0px rgba(0,0,0,0.3));
  }
}

.content__rows.-basic {

}

/**
 * Information
 */

.row-fluid--information {
  @extend .row-fluid--alt;
  background: $white;
  .span5 > .inner {
    padding: 0;
    border-right: 2px solid $global_border;
  }
}

.info__section {
  border-bottom: 2px solid $global_border;
  margin: 0px 29px 33px 0px;
  h4 {
    text-transform: uppercase;
  }
  ul {
    @include resetList();
    font-size: 100%;
  }
  li {
    font-size: 1.8em;
    margin: 0px;
  }
  a {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  .info__social {
    @extend %group;
    padding: 13px 0px 0px 0px;
    li {
      float: left;
      margin: 0 48px 0 0;
    }
    a {
      text-indent: -9999px;
    }
    .twitter {
      @include sprite($twitter_mod);
    }
    .dribbble {
      @include sprite($dribbble_mod);
    }
    .instagram {
      @include sprite($instagram_mod);
    }
    .linkedin {
      @include sprite($linkedin_mod);
    }
  }
  &.row-fluid {
    padding: 0;
    width: auto;
  }
  &.l {
    margin-bottom: 0;
    border: none;
  }
}

.info__form {
  .form-item {
    position: relative;
    margin-bottom: 28px;
  }
  .form-actions {
    padding-top: 32px;
  }
  label {
    position: absolute;
    left: 0;
    bottom: 9px;
    margin: 0px;
    line-height: 1em;
  }
  .webform-component-textarea {
    label {
      bottom: 12px;
    }
  }
  textarea {
    resize: none;
  }
}

// Large Screens
@media (min-width: 79.5em) { // 1272px (div by 16)

  .grid__item {
    @include flex(1 0 25%);
    max-width: 25%;
  }

}

// Portrait
@media (max-width: 59.9375em) { // 959px (div by 16)

  .grid__item {
    @include flex(1 0 50%);
    max-width: 50%;
  }

  .main-content {
    overflow: hidden;
    &.-internal {
      padding-top: 63px;
    }
  }

  .site__hero, .intro__image {
    width: 150%;
    margin-left: -25%;
  }

}