/* app/globals/site */

/**
 * Homepage
 */

// flex grid
.grid {
  @include flexbox();
  flex-wrap: wrap;
  background: $offwhite;
  // justify-content: center;
}
.grid__item {
  @include flex(1 0 33.3333333%);
  max-width: 33.333333%;
  img {
    display: block;
    width: 100%;
  }
}

// hero
.site__hero {
  position: relative;
  z-index: 0;
  background: $black;
  a {
    display: block;
  }
  img {
    @include transition(opacity 1s);
    opacity: .25;
    display: block;
    width: 100%;
    z-index: 50;
    &.cancel {
      @include transition(none);
      opacity: 1;
    }
  }
  .nav-tabs {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
  }
  svg {
    @include transition(opacity 2s);
    opacity: 1;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 75;
  }
  path {
    fill: none;
    stroke: $white;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  &.animate {
    svg {
      visibility: visible;
    }
  }

  &.finished {
    img {
      opacity: 1;
    }
    svg {
      opacity: 0;
    }
  }

}

/**
 * General
 */
.main-content {
  &.-internal {
    background: $white;
  }
}

/**
 * Case Study Shared
 */
.content__header {
  h2 {
    padding: 58px 10px 58px;
    margin: 0px;
    background: $white;
    text-align: center;
    .subtitle {
      display: block;
      text-transform: uppercase;
      font-size: .39em;
      line-height: 2.1em;
      font-weight: 600;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

.intro__body {
  padding: 55px 0px 22px;
}

.content__rows {
  img {
    display: block;
    width: 100%;
  }
}

/**
 * Case Study Complex
 */
.content__header.-full {
  img {
    width: 100%;
  }
}

.content__rows.-full {

}

/**
 * Case Study Basic
 */
.content__header.-basic {
  .intro__image {
    padding: 110px 0px;
  }
  img {
    margin: 0px;
    @include boxShadow(0px 0px 40px 0px rgba(0,0,0,0.3));
  }
}

.content__rows.-basic {

}


// Large Screens
@media (min-width: 79.5em) { // 1272px (div by 16)

  .grid__item {
    @include flex(1 0 25%);
    max-width: 25%;
  }

}

// Portrait
@media (max-width: 59.9375em) { // 959px (div by 16)



}