/* app/globals/site */

// flex grid
.grid {
  @include flexbox();
  flex-wrap: wrap;
  background: $offwhite;
  // justify-content: center;
}
.grid__item {
  @include flex(1 0 33.3333333%);
  max-width: 33.333333%;
  img {
    display: block;
    width: 100%;
  }
}

// hero
.site__hero {
  position: relative;
  z-index: 0;
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
  }
  .nav-tabs {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
  }
  svg {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  &.animate {
    svg {
      visibility: visible;
    }
  }
}

// Large Screens
@media (min-width: 79.5em) { // 1272px (div by 16)

  .grid__item {
    @include flex(1 0 25%);
    max-width: 25%;
  }

}

// Portrait
@media (max-width: 59.9375em) { // 959px (div by 16)



}